* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #22343d;
}

a {
    text-decoration: none;
    color: #22343d;
}

ul,
ol {
    list-style-type: none;
}

button {
    cursor: pointer;
    display: block;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    margin-bottom: 100px;
}

.header_container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    margin-right: 237px;
    padding: 26px 0;
}

.logo {
    margin-right: 16px;
}

.navigation-list {
    display: flex;
    gap: 30px;
    margin-right: 80px;
}

.navigation-item {}

.navigation-link {
    display: flex;
    padding: 26px 0;
}

.navigation-link.active {
    font-weight: 600;
}

.button-list {
    display: flex;
    gap: 21px;
}

.button-item {}

.navigation-button {
    min-width: 105px;
    height: 42px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.button-item:first-child .navigation-button {
    border: 1px solid #BCD0E5;
    background-color: #fff;
}

.button-item:last-child .navigation-button {
    background-color: #02897A;
    color: #fff;
}

.hero {
    margin-bottom: 117px;
}

.hero-title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #22343d;
    margin-bottom: 66px;
}

.hero-list {
    display: flex;
    gap: 64px;
    justify-content: center;
}

.product {
    background-color: #f5f5f5;
    padding: 24px 50px 68px 50px;
    margin-bottom: 101px;
}

.product_container {}

.product-title {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
}

.product-list {
    display: flex;
    gap: 30px;
}

.product-item {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    padding: 32px 50px;
}

.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
    width: 54px;
    height: 54px;
    border-radius: 19px;
    margin-bottom: 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.green{
    background-color: #02897A;
}

.blue{
    background-color: #4D8DFF;
}

.red{
    background-color: #F03E3D;
}

.product-item-icon {}

.product-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.375;
    letter-spacing: 0em;
    color: #22343d;
    margin-bottom: 16px;
}

.product-item-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6875;
    letter-spacing: 0.01em;
    text-align: center;
    min-width: 275px;
    color: #22343d;
}

.work {}

.work_container {}

.work-title {}

.work-list {}

.work-item {}

.work-item-step {}

.work-item-title {}

.work-item-subtitle {}

.work-button {}

.promotion {
    margin-bottom: 100px;
}

.promotion_container {
    display: flex;
    align-items: center;

    background-color: #02897A;
    border: none;
    border-radius: 32px;
    max-width: 968px;
    margin: 0 auto;
}

.promotion_box {
    display: flex;
    flex-direction: column;
    padding: 49px 51px;
}

.promotion-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;
    margin-bottom: 46px;
}

.promotion-button {
    border-radius: 8px;
    background-color: #fff;
    max-width: 150px;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
}

.footer {
    margin-bottom: 40px;
}

.footer_container {
    display: flex;
    margin-bottom: 16px;
}

.logo_container {}

.logo-link-footer {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    text-align: center;
    color: #173a56;
    margin-bottom: 18px;
    margin-right: 146px;
}

.logo-footer {
    margin-right: 16px;
}

.social-media_container {}

.social-media-list {
    display: flex;
    gap: 16px;
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #EDFFFC;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.social-media-icon {
    fill: transparent;
    stroke: #02897A;
}

.resource_container {
    margin-right: 129px;
}

.stuff_container {
    margin-right: 83px;
}

.footer-title {
    min-width: 105px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 8px;
}

.footer-list {}

.footer-item {
    min-width: 111px;
}

.footer-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.1875;
    color: #22343d;
}

.input_container {}

.input-title {
    max-width: 296px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 30px;
}

.footer-form {}

.footer-input {
    width: 325px;
    height: 48px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding-left: 12px;
    margin-bottom: 25px;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
}

.footer-button {
    width: 131px;
    height: 39px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    background-color: #02897a;
    color: #fff;
}

.footer-subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #22343d;
}